<div class="data-container">
<div class="row mb-4 title">
<div class="col-xl-8">
    <h5><img class="imgCabecera" src="../../../assets/img/graficos.png"> Graficos </h5>
</div>
</div>
<div class="conte overflow-auto">
    <div>
        <app-tarjetas [tarjetas]="tarjetas"></app-tarjetas>
        <!--<button (click)="seleccion()">Click</button>-->
    </div>
   <div>
        <app-grafico-tarta [tarta]="tartap"></app-grafico-tarta>
    </div>
    <div>
        <app-grafico-tarta [tarta]="tartac"></app-grafico-tarta>
    </div>
    <div>
        <app-grafico-barra [barra]="barra"></app-grafico-barra>
    </div>
    
</div>

</div>