<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium">
    <div class="d-flex justify-content-center">
    <div class="spinner-grow text-info" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only"> </span>
      </div>
    </div>
</ngx-spinner>
      
<div class="data-container">
<div class="row mb-4 title">
<div class="col-xl-8">
    <h5><img class="imgCabecera" src="../../../assets/img/graficos.png"> Graficos </h5>
</div>
</div>
<div class="conte overflow-auto">
    
   <div *ngIf="tartap!=null">
        <app-grafico-tarta [tarta]="tartap"></app-grafico-tarta>
    </div>
    <div *ngIf="tartac!=null">
        <app-grafico-tarta [tarta]="tartac"></app-grafico-tarta>
    </div>
    <div *ngIf="barra!=null">
        <app-grafico-barra [barra]="barra"></app-grafico-barra>
    </div>
    <div *ngIf="tarjetas!=null">
        <app-tarjetas [tarjetas]="tarjetas"></app-tarjetas>
    </div>
</div>

</div>