
<div class="logo">
    <figure>
        <img src="../../../assets/img/recy.png" />
        <figcaption>RECYCLON</figcaption>
    </figure>
    
</div>

<div class="NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3" routerLinkActive='active'>
            <a class="nav-link" routerLink='clientes'>
                <figure>
                    <img src="../../../assets/img/cliente2.png">
                    <figcaption><span>Clientes</span>  </figcaption>
                </figure>
            </a>
        </li>
        <li class="nav-item px-3" routerLinkActive='active'>
            <a class="nav-link" routerLink='bancos'>
                <figure>
                    <img src="../../../assets/img/banco2.png">
                    <figcaption> <span>Bancos</span></figcaption>
                </figure>
                 
            </a>
        </li>
        <li class="nav-item px-3" routerLinkActive='active'>
            <a class="nav-link" routerLink='proveedores'>
                <figure>
                    <img src="../../../assets/img/proveedor2.png">
                    <figcaption> <span>Proveedores</span></figcaption>
                </figure>
                
            </a>
        </li>
        <li class="nav-item px-3" routerLinkActive='active'>
            <a class="nav-link" routerLink='pagos'>
                <figure>
                    <img src="../../../assets/img/pago2.png"> 
                    <figcaption><span>Pagos</span> </figcaption>
                </figure>
                
            </a>
        </li>
        <li class="nav-item px-3" routerLinkActive='active'>
            <a class="nav-link" routerLink='cobros'>
                <figure>
                    <img src="../../../assets/img/cobro2.png"> 
                    <figcaption><span>Cobros</span> </figcaption>
                </figure>
                
            </a>
        </li>

        <li class="nav-item px-3 ">
            <a class="nav-link" routerLink='home'>
                <figure>
                    <img src="../../../assets/img/graficos.png"> 
                    <figcaption><span>Graficos</span> </figcaption>
                </figure>
                
            </a>
        </li>
    </ul>
</div>